# Filename: requirements.txt

streamlit
groq  # Replace with the correct package name if different
bcrypt
beautifulsoup4
requests
tiktoken
sentence_transformers
torch
nltk
fuzzywuzzy
cachetools
PyPDF2
fpdf
python-dotenv
pandas
crewai==0.1.1
embedchain==0.0.9
chromadb==0.3.22
numpy==1.25.2
